<%- include('./partials/admin-head') %>
<main>
<body>
<div id="p-container">

    <h2>Flagged Users Awaiting Review</h2>
            
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Reason Flagged</th>
            <th>Remove Flag?</th>
            <th>Ban User?</th>
        </tr>
        <% for (const user of users){ %>
            <tr>
                <td>
                    <%= user.firstName %> <%= user.lastName %> 

                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <%= user.reason_Flagged %>
                </td>
                <td>
                    <form action="/admin/removeFlag/<%= user.userName %>" method="POST">
                        <button class= "remove-flag-button" type="submit">Remove Flag</button>
                    </form>
                </td>
                <td>
                    <form action="/admin/banUser/<%= user.userName %>" method="POST">
                        <button class= "remove-user-button" type="submit">Ban</button>
                    </form>
                </td>
            </tr>
            <% } %>
    </table>
    
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const removeFlagButtons = document.querySelectorAll('.remove-flag-button');
            const banUserButtons = document.querySelectorAll('.remove-user-button');
    
            removeFlagButtons.forEach(button => {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
                    const confirmation = confirm("Are you sure you want to remove the flag for this user?");
                    if (confirmation) {
                        const form = event.target.closest('form');
                        if (form) {
                            form.submit();
                        }
                        alert("Flag removed successfully!");
                    }
                });
            });
    
            banUserButtons.forEach(button => {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
                    const confirmation = confirm("Are you sure you want to ban this user?");
                    if (confirmation) {
                        const form = event.target.closest('form');
                        if (form) {
                            form.submit();
                        }
                        alert("User banned successfully!");
                    }
                });
            });
        });
    
    </script>


</body>

</main>

</html>