<%- include('./partials/admin-head') %>
<main>
<body>
<div id="p-container">

    <h2>Items Awaiting Approval</h2>
            
    <table>
        <tr>
            <th>Listed By</th>
            <th>Name</th>
            <th>Category</th>
            <th>Condition</th>
            <th>Price</th>
            <th>Description</th>
            <th>Approve?</th>
            <th>Remove?</th>
        </tr>
        <% for (const item of items){ %>
            <tr>
                <td>
                    <%= item.userName %>
                </td>
                <td>
                    <%= item.itemName %>
                </td>
                <td>
                    <%= item.category %>
                </td>
                <td>
                    <%= item.condition %>
                </td>
                <td>
                    <%= item.itemPrice %>
                </td>
                <td>
                    <%= item.description %>
                </td>
                <td>
                    <form action="/admin/approve/<%= item.itemID %>" method="POST">
                        <button class="item-to-be-approved" type="submit">Approve</button>
                    </form>
                </td>
                <td>
                    <form action="/admin/remove/<%= item.itemID %>" method="POST">
                        <button class="deny-item-button" type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            <% } %>
    </table>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const approveButtons = document.querySelectorAll('.item-to-be-approved');
        const removeButtons = document.querySelectorAll('.deny-item-button');

        approveButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const confirmation = confirm("Are you sure you want to approve this item?");
                if (confirmation) {
                    const form = event.target.closest('form');
                    if (form) {
                        form.submit();
                    }
                    alert("Item listed successfully!");
                }
            });
        });

        removeButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const confirmation = confirm("Are you sure you want to remove this item?");
                if (confirmation) {
                    const form = event.target.closest('form');
                    if (form) {
                        form.submit();
                    }
                    alert("Item removed successfully!");
                }
            });
        });
    });
</script>




</body>

</main>

</html>