<%- include('./partials/head') %>

<div id="container2">

    <div id="item-list">
        <% for (const item of items){ %>
            <div class="product-item">
                
                    <img class="product-image" src="/images/<%= item.imageURL %>" alt="<%= item.name %>">
                    <button class="view-item-btn" onclick="window.location.href='/user/item-details/<%= item.itemID %>'">View Item</button>
                <h3><%= item.itemName %></h3>
                <p>$<%= item.itemPrice %></p>
            </div>
            <% } %>
    </div>

       
        

    </main>


    <footer>
        <p>Copyright © 2024 Spartan Sellers</p>
    </footer>

</body>

</html>